extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p Hello, #{user.username}
    a(href="/logout") logout
    br
    a(href="/users") users
  else
    a(href="/login") login
    br
    a(href="/users") users
    br
    a(href="/photos") photos
  div(id="block", class="block")
  button(id="scaling-button") 拡大縮小
  button(id="moving-button") 移動
  h1 サーバーステータス
  h3 ロードアベレージ
  p(id="loadavg")
  script(src="/javascripts/bundle.js")
    
